In [1]:
import pandas as pd
import numpy as np

# Goals

# Takeaways

# Plan

# Acquire

- read in master .csv file of original 8 .csv files.

- read in 225 rows and 9 columns.

- read in file with 'Date' column as DatetimeIndex.

In [2]:
df = pd.read_csv('fitbit_master.csv', index_col='Date', parse_dates=True)

In [3]:
df.shape

(225, 9)

# Prepare

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 9 columns):
Calories Burned           225 non-null int64
Steps                     225 non-null int64
Distance                  225 non-null float64
Floors                    225 non-null int64
Minutes Sedentary         225 non-null int64
Minutes Lightly Active    225 non-null int64
Minutes Fairly Active     225 non-null int64
Minutes Very Active       225 non-null int64
Activity Calories         225 non-null int64
dtypes: float64(1), int64(8)
memory usage: 17.6 KB

## Resample by Day by Sum

In [5]:
df.resample('D').sum()

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
Date,,,,,,,,,
2018-04-26,2635,2931,1.4,2,1347,93,0,0,566
2018-04-27,3649,9971,4.7,19,1158,219,46,17,1752
2018-04-28,3379,3521,1.7,2,702,155,22,11,1124
2018-04-29,2851,1639,0.8,0,891,122,0,0,602
2018-04-30,2825,1323,0.6,0,880,104,0,0,540
2018-05-01,3292,2581,1.2,0,919,167,13,2,1068
2018-05-02,2660,1372,0.7,0,927,90,0,0,419
2018-05-03,3121,2232,1.1,0,876,157,16,0,1006
2018-05-04,2522,904,0.4,1,1012,61,0,0,269
2018-05-05,2551,833,0.4,0,969,68,0,0,326
2018-05-06,2771,1383,0.7,0,976,103,0,0,506
2018-05-07,2524,952,0.5,0,907,63,0,0,283
2018-05-08,2591,1187,0.6,2,1221,53,17,2,410
2018-05-09,2153,21,0.0,0,1438,2,0,0,8
2018-05-10,3081,1364,0.6,0,1295,136,5,4,924
2018-05-11,2950,2771,1.3,1,947,130,0,0,727
2018-05-12,3318,4125,2.0,2,756,184,4,7,1113
2018-05-13,2572,1689,0.8,0,895,84,0,0,394
2018-05-14,2966,3710,1.8,0,959,119,19,0,794
2018-05-15,3152,4313,2.0,0,767,183,9,0,1011
2018-05-16,3497,5882,2.8,1,825,234,5,6,1396
2018-05-17,3066,4080,1.9,4,867,158,0,0,897
2018-05-18,4376,13958,6.6,7,682,178,67,92,2549
2018-05-19,4112,14917,7.0,7,646,193,34,89,2228
2018-05-20,3098,4986,2.4,3,795,174,5,6,978
2018-05-21,3009,3989,1.9,3,727,182,0,0,932
2018-05-22,3581,4680,2.2,1,625,209,33,2,1460
2018-05-23,3772,6889,3.3,0,921,241,42,14,1765
2018-05-24,2756,3470,1.6,0,804,143,0,0,723
2018-05-25,3155,5389,2.5,1,821,145,32,13,1127
...,...,...,...,...,...,...,...,...,...
2018-11-07,3681,13664,6.5,9,566,172,4,82,1882
2018-11-08,4137,15542,7.3,26,716,238,15,86,2436
2018-11-09,4445,16732,8.0,14,698,126,31,131,2671
2018-11-10,3863,13636,7.0,16,589,219,3,77,2115
2018-11-11,4264,17761,8.4,129,486,299,47,76,2717
2018-11-12,3444,10184,4.8,19,651,244,14,40,1705
2018-11-13,3202,10330,4.9,16,615,199,10,26,1376
2018-11-14,3081,7598,3.6,15,835,214,8,12,1250
2018-11-15,3815,12360,5.9,10,644,203,7,69,2082
2018-11-16,3780,12286,5.7,13,576,281,31,42,2114
2018-11-17,4548,20395,10.1,31,464,347,54,90,3077
2018-11-18,4832,25512,12.0,23,450,269,53,154,3373
2018-11-19,3697,11993,5.6,17,502,255,34,43,2062
2018-11-20,3966,15527,7.3,13,810,196,11,96,2260
2018-11-21,3738,11079,5.2,4,582,328,9,33,2101
2018-11-22,4494,16705,7.8,177,522,284,18,115,2868
2018-11-23,3325,9602,4.5,16,660,269,23,12,1619
2018-11-24,4098,17004,9.2,23,532,217,13,100,2428
2018-11-25,3005,6921,3.3,11,614,281,3,6,1306
2018-11-26,3364,10563,5.6,20,587,210,10,42,1605
2018-11-27,3726,13420,6.3,7,650,196,12,78,2027
2018-11-28,3088,7602,3.6,16,717,272,0,0,1361
2018-11-29,3693,12380,6.6,18,717,258,15,53,2051
2018-11-30,3269,9559,4.5,14,699,288,12,6,1577
2018-12-01,3813,14510,7.3,7,527,233,22,67,2124
2018-12-02,3957,13257,6.2,195,725,265,13,70,2305
2018-12-03,3660,12915,6.1,6,782,219,40,51,1993
2018-12-04,3384,13763,6.5,13,608,199,11,67,1663
2018-12-05,3670,13865,6.5,12,739,200,12,69,1968
2018-12-06,3669,14774,7.0,9,647,198,4,78,1962

## Check Latest Date

- 2018-12-06

- projection will be two weeks out from this date

In [6]:
df.index.max()

Timestamp('2018-12-06 00:00:00')

## Rename Columns

In [7]:
df.columns

Index(['Calories Burned', 'Steps', 'Distance', 'Floors', 'Minutes Sedentary',
       'Minutes Lightly Active', 'Minutes Fairly Active',
       'Minutes Very Active', 'Activity Calories'],
      dtype='object')

In [8]:
df2 = df.rename(columns={'Calories Burned': 'calories_burned', 'Steps': 'steps', 'Distance': 'distance', 
                  'Floors': 'floors', 'Minutes Sedentary': 'sedentary_mins', 'Minutes Lightly Active': 'lightly_active_mins',
                  'Minutes Fairly Active': 'fairly_active_mins', 'Minutes Very Active': 'very_active_mins', 
                'Activity Calories': 'activity_calories'})

## Add column with total of all activity

In [9]:
df2['active_total'] = df2.lightly_active_mins + df2.fairly_active_mins + df2.very_active_mins

## Add column with ratio of active time to sedentary time

In [10]:
df2['ratio_act_sed'] = df2.active_total/df2.sedentary_mins

## Add column with ratio of steps to distance

In [11]:
df2['ratio_steps_distance'] = df2.steps/df2.distance

## Add column with ratio of calories to steps

In [12]:
df2['ratio_cal_steps'] = df2.calories_burned/df2.steps

## Add column with ratio of active time to calories

In [13]:
df2['ratio_active_cal'] = df2.active_total/df2.calories_burned

## Add column with ratio of sedentary time to calories

In [14]:
df2['ratio_sed_cal'] = df2.sedentary_mins/df2.calories_burned

## Add a Month Column

In [15]:
df2['month'] = df2.index.month

## Add a Day of the Week Column

In [16]:
df2['weekday'] = df2.index.weekday_name

# Explore

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 225 entries, 2018-04-26 to 2018-12-06
Data columns (total 17 columns):
calories_burned         225 non-null int64
steps                   225 non-null int64
distance                225 non-null float64
floors                  225 non-null int64
sedentary_mins          225 non-null int64
lightly_active_mins     225 non-null int64
fairly_active_mins      225 non-null int64
very_active_mins        225 non-null int64
activity_calories       225 non-null int64
active_total            225 non-null int64
ratio_act_sed           225 non-null float64
ratio_steps_distance    213 non-null float64
ratio_cal_steps         225 non-null float64
ratio_active_cal        225 non-null float64
ratio_sed_cal           225 non-null float64
month                   225 non-null int64
weekday                 225 non-null object
dtypes: float64(6), int64(10), object(1)
memory usage: 31.6+ KB

In [18]:
df2.describe()

,calories_burned,steps,distance,floors,sedentary_mins,lightly_active_mins,fairly_active_mins,very_active_mins,activity_calories,active_total,ratio_act_sed,ratio_steps_distance,ratio_cal_steps,ratio_active_cal,ratio_sed_cal,month
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,213.000000,225.000000,225.000000,225.000000,225.000000
mean,3401.911111,8536.186667,4.052000,12.591111,809.520000,188.235556,14.920000,33.871111,1484.546667,237.026667,0.340755,inf,inf,0.066193,0.255918,8.008889
std,632.426578,5255.746608,2.507472,25.844174,243.232639,75.170001,15.363535,37.195986,747.795790,103.121761,0.203614,NaN,NaN,0.023508,0.129883,2.144326
min,799.000000,0.000000,0.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1720.000000,0.189401,0.000000,0.035044,4.000000
25%,3069.000000,4714.000000,2.200000,2.000000,654.000000,158.000000,3.000000,2.000000,1062.000000,187.000000,0.213303,2098.148148,0.308263,0.060267,0.176864,6.000000
50%,3385.000000,7806.000000,3.700000,7.000000,750.000000,203.000000,11.000000,15.000000,1481.000000,253.000000,0.324934,2117.068966,0.429876,0.072244,0.219793,8.000000
75%,3765.000000,12380.000000,5.900000,13.000000,877.000000,236.000000,21.000000,63.000000,1962.000000,299.000000,0.446337,2131.538462,0.635178,0.079378,0.282792,10.000000
max,5199.000000,25512.000000,12.000000,195.000000,1440.000000,349.000000,78.000000,154.000000,3596.000000,505.000000,1.256219,inf,inf,0.110248,0.671642,12.000000

In [19]:
df2.isnull().sum()

calories_burned          0
steps                    0
distance                 0
floors                   0
sedentary_mins           0
lightly_active_mins      0
fairly_active_mins       0
very_active_mins         0
activity_calories        0
active_total             0
ratio_act_sed            0
ratio_steps_distance    12
ratio_cal_steps          0
ratio_active_cal         0
ratio_sed_cal            0
month                    0
weekday                  0
dtype: int64

In [20]:
df2['ratio_steps_distance'] = df2.ratio_steps_distance.fillna(0)

In [21]:
df2 = df2.replace([np.inf, -np.inf], 0)

In [22]:
df2.isnull().sum()

calories_burned         0
steps                   0
distance                0
floors                  0
sedentary_mins          0
lightly_active_mins     0
fairly_active_mins      0
very_active_mins        0
activity_calories       0
active_total            0
ratio_act_sed           0
ratio_steps_distance    0
ratio_cal_steps         0
ratio_active_cal        0
ratio_sed_cal           0
month                   0
weekday                 0
dtype: int64

In [23]:
(df2 == 0).astype(int).sum().sort_values(ascending = False)

very_active_mins        51
fairly_active_mins      46
floors                  31
ratio_steps_distance    14
distance                14
steps                   12
ratio_cal_steps         12
activity_calories        9
ratio_active_cal         9
ratio_act_sed            9
active_total             9
lightly_active_mins      9
weekday                  0
sedentary_mins           0
month                    0
ratio_sed_cal            0
calories_burned          0
dtype: int64

# Model

# Forecast

# Final Takeaways

- Faith:


- Sean: